.DS_Store
.idea/
*.iml
.vscode/
.mvn/
out/

target/

node_modules
dist
.images

.env
dev.env
stg.env
lcl.env

_archief/
_bank/
_docs/
_transacties/



## Logs
#logs
#*.log
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
#pnpm-debug.log*
#lerna-debug.log*
#
#dist-ssr
#*.local
#
## Editor directories and files
#.vscode/*
#!.vscode/extensions.json
#.idea
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?