#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

/*
 Mui customization
*/
.MuiButton-root.selected, .MuiTypography-root.selected {
  border-bottom: thin green solid;
  background-color: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.MuiTypography-root.MuiTypography-h4{
  margin-top: 5px;
  margin-bottom: 15px;
}
