#root {
  margin: 0 auto;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/*
 Mui customization
*/
.MuiAppBar-root {
  button.MuiButton-root.selected,
  p.MuiTypography-root.selected {
    border-bottom: thin green solid;
    background-color: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.MuiTypography-root.MuiTypography-h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}
svg.languageFlag {
  height: 25px;
  margin-top: 10px;
  margin-right: 15px;
}
